@use './variables' as *;

@font-face {
  font-family: 'Karla Regular';
  src: url('../assets/fonts/Karla-VariableFont_wght.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: $clr-green-200;
  font-family: 'Karla Regular', system-ui, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
i,
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type='checkbox'],
input[type='radio'] {
  width: 20px;
  height: 20px;
  accent-color: $clr-green-600;

  &:focus-visible {
    outline: 1px solid $clr-green-600;
  }
}

input,
textarea {
  border-radius: $spacing-100;
  border: 1px solid $clr-grey-500;
  padding: 12px 24px;
  font-size: $fs-500;

  &:focus-visible {
    outline: none;
    border: 1px solid $clr-green-600;
  }
}

textarea {
  height: 132px;

  @media (width <= 40rem) {
    height: 240px;
  }
}

label:has(input[type='radio']) {
  font-size: $fs-500;
}

label:not(input[type='radio'] + label):not(input[type='checkbox'] + label) {
  margin-bottom: $spacing-100;
}

label {
  display: block;
}

input:not([type='checkbox'], [type='radio']),
textarea {
  width: 100%;
}

textarea {
  resize: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
  margin-bottom: 1rem;
  font-size: $fs-400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

span {
  color: $clr-green-600;
}

#root,
#__next {
  isolation: isolate;
}
