@use './variables' as *;

.heading {
  font-size: $fs-700;
  font-weight: bold;
  letter-spacing: -1px;
}

.text-md-bold {
  font-size: $fs-500;
  font-weight: bold;
}

.text-md {
  font-size: $fs-500;
}

.text-sm {
  font-size: $fs-400;
}

.error {
  margin-top: 8px;
  color: $clr-error;
}

.error-input {
  border-color: $clr-error;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
