// colors
$clr-grey-900: hsl(187, 24%, 22%);
$clr-grey-500: hsl(186, 15%, 59%);
$clr-green-600: hsl(169, 82%, 27%);
$clr-green-200: hsl(148, 38%, 91%);
$clr-white: hsl(0, 0%, 100%);
$clr-error: hsl(0, 66%, 54%);

// typography
$fs-700: 2rem;
$fs-500: 1.125rem;
$fs-400: 1rem;

// spacing
$spacing-100: 8px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-1600: 128px;
