@use './styles/variables' as *;
main {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (width <= 64rem) {
    padding-inline: $spacing-500;
  }

  @media (width <= 40rem) {
    padding: $spacing-400 $spacing-200;
  }
}

.form {
  width: 736px;
  padding: $spacing-500;
  background-color: $clr-white;
  border-radius: $spacing-100;

  @media (width <= 40rem) {
    padding: $spacing-200;
  }

  .form-line {
    margin-bottom: $spacing-300;

    &:nth-child(5) {
      margin-block: 40px;
    }
  }

  &__container {
    color: $clr-grey-900;
  }

  &__header {
    margin-bottom: $spacing-400;
  }

  &__name {
    display: flex;
    gap: $spacing-200;

    @media (width <= 40rem) {
      flex-direction: column;
    }

    & > div {
      flex: 1;
    }
  }

  &__query-type {
    display: flex;
    gap: $spacing-200;

    @media (width <= 40rem) {
      flex-direction: column;
    }

    .query-type-option {
      flex: 1;
      border: 1px solid $clr-grey-500;
      border-radius: $spacing-100;
      padding: $spacing-150 $spacing-300;
      display: flex;
      align-items: center;
      gap: $spacing-150;
      cursor: pointer;

      &:has(input:checked) {
        background-color: $clr-green-200;
      }
    }
  }

  &__consent {
    display: flex;
    align-items: center;

    input {
      margin-right: $spacing-200;
    }

    span {
      margin-left: 4px;
    }
  }

  button {
    all: unset;
    text-align: center;
    width: 100%;
    padding-block: $spacing-200;
    box-sizing: border-box;
    border-radius: $spacing-100;
    background-color: $clr-green-600;
    color: $clr-white;
    font-size: $fs-500;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($color: $clr-green-600, $amount: 5);
    }
  }
}
